.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.809082;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:4.857269px;}
.fc1{color:rgb(192,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:48.000000px;}
.fs0{font-size:80.000000px;}
.y0{bottom:0.000000px;}
.yd{bottom:198.582575px;}
.yc{bottom:200.082575px;}
.ya{bottom:216.588160px;}
.yb{bottom:219.603815px;}
.y8{bottom:272.558619px;}
.y9{bottom:274.108469px;}
.y6{bottom:325.408792px;}
.y4{bottom:325.421854px;}
.y7{bottom:325.491861px;}
.y5{bottom:325.504923px;}
.y2{bottom:376.310434px;}
.y3{bottom:378.851068px;}
.y1{bottom:505.044689px;}
.h2{height:31.992188px;}
.h1{height:58.242188px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x1{left:251.750015px;}
.x2{left:266.386993px;}
.x5{left:293.893311px;}
.x7{left:294.975189px;}
.x8{left:345.830719px;}
.xa{left:375.009369px;}
.x6{left:408.737000px;}
.x3{left:429.886993px;}
.xb{left:449.821960px;}
.x4{left:457.393311px;}
.x9{left:465.530701px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:6.476358pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:106.666667pt;}
.y0{bottom:0.000000pt;}
.yd{bottom:264.776766pt;}
.yc{bottom:266.776766pt;}
.ya{bottom:288.784213pt;}
.yb{bottom:292.805087pt;}
.y8{bottom:363.411491pt;}
.y9{bottom:365.477959pt;}
.y6{bottom:433.878390pt;}
.y4{bottom:433.895805pt;}
.y7{bottom:433.989148pt;}
.y5{bottom:434.006564pt;}
.y2{bottom:501.747246pt;}
.y3{bottom:505.134758pt;}
.y1{bottom:673.392919pt;}
.h2{height:42.656250pt;}
.h1{height:77.656250pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x1{left:335.666687pt;}
.x2{left:355.182658pt;}
.x5{left:391.857747pt;}
.x7{left:393.300252pt;}
.x8{left:461.107625pt;}
.xa{left:500.012492pt;}
.x6{left:544.982666pt;}
.x3{left:573.182658pt;}
.xb{left:599.762614pt;}
.x4{left:609.857747pt;}
.x9{left:620.707601pt;}
}
