.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.873535;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-74.456277px;}
._0{width:5.095736px;}
._1{width:6.462760px;}
._2{width:8.676766px;}
._3{width:48.197043px;}
.fc2{color:rgb(192,0,0);}
.fc1{color:rgb(38,38,38);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:31.680000px;}
.fs3{font-size:44.000000px;}
.fs0{font-size:48.000000px;}
.fs2{font-size:54.000000px;}
.fs4{font-size:80.000000px;}
.y0{bottom:0.000000px;}
.y5{bottom:52.435716px;}
.y34{bottom:88.104853px;}
.y35{bottom:91.704853px;}
.y30{bottom:143.014521px;}
.y2d{bottom:146.320124px;}
.y31{bottom:146.614521px;}
.y32{bottom:149.840994px;}
.y2e{bottom:149.920124px;}
.y33{bottom:152.212576px;}
.y27{bottom:169.834766px;}
.y25{bottom:170.621387px;}
.y26{bottom:184.234766px;}
.y24{bottom:185.021387px;}
.y14{bottom:190.284998px;}
.y15{bottom:193.884998px;}
.y2f{bottom:206.902731px;}
.y2c{bottom:207.997244px;}
.y12{bottom:226.821613px;}
.y10{bottom:229.800678px;}
.y3{bottom:235.043268px;}
.y4{bottom:238.643269px;}
.y11{bottom:241.221613px;}
.y38{bottom:242.559656px;}
.yf{bottom:244.200678px;}
.y2a{bottom:245.839716px;}
.y39{bottom:246.159657px;}
.y2b{bottom:249.439716px;}
.y22{bottom:263.165823px;}
.y23{bottom:263.770376px;}
.ye{bottom:267.692739px;}
.y37{bottom:284.845266px;}
.y3a{bottom:284.935263px;}
.y18{bottom:289.185415px;}
.yc{bottom:290.780691px;}
.yd{bottom:292.205648px;}
.y36{bottom:294.726740px;}
.y21{bottom:297.674051px;}
.y28{bottom:299.174051px;}
.y29{bottom:302.774052px;}
.y13{bottom:317.842875px;}
.y20{bottom:339.659582px;}
.y1e{bottom:339.719900px;}
.y1f{bottom:339.745108px;}
.y1d{bottom:340.202429px;}
.y1c{bottom:340.239981px;}
.ya{bottom:342.707785px;}
.yb{bottom:343.372274px;}
.y8{bottom:348.682745px;}
.y7{bottom:349.407537px;}
.y1a{bottom:350.876608px;}
.y6{bottom:351.295095px;}
.y19{bottom:351.601400px;}
.y1b{bottom:352.192968px;}
.y9{bottom:352.436911px;}
.y3d{bottom:362.889807px;}
.y3b{bottom:362.950125px;}
.y3c{bottom:362.975332px;}
.y2{bottom:390.410374px;}
.y42{bottom:394.716360px;}
.y40{bottom:395.641317px;}
.y3f{bottom:395.678885px;}
.y41{bottom:404.780699px;}
.y1{bottom:404.810373px;}
.y3e{bottom:405.381880px;}
.y17{bottom:480.085676px;}
.y16{bottom:504.085676px;}
.h2{height:22.027500px;}
.h4{height:30.593750px;}
.h1{height:33.375000px;}
.h3{height:36.914062px;}
.h5{height:58.242188px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x2a{left:14.734568px;}
.xe{left:21.934566px;}
.x2b{left:27.411808px;}
.x10{left:49.710949px;}
.x2c{left:65.228210px;}
.xb{left:66.570709px;}
.xd{left:99.479446px;}
.x13{left:109.717194px;}
.x11{left:120.338737px;}
.x6{left:128.062683px;}
.x12{left:131.463737px;}
.x4{left:150.950867px;}
.x7{left:152.557632px;}
.xc{left:156.418274px;}
.xf{left:165.041656px;}
.x2e{left:168.368271px;}
.x2d{left:195.552917px;}
.x2f{left:205.684673px;}
.x24{left:215.592117px;}
.x5{left:219.518433px;}
.x25{left:226.717116px;}
.x16{left:249.931871px;}
.x17{left:252.806872px;}
.x14{left:256.092163px;}
.x15{left:267.537872px;}
.x2{left:273.270416px;}
.x8{left:290.112366px;}
.x9{left:307.463074px;}
.xa{left:314.211975px;}
.x3{left:333.395412px;}
.x22{left:348.453400px;}
.x18{left:351.762848px;}
.x20{left:357.654724px;}
.x19{left:375.507812px;}
.x31{left:378.328125px;}
.x1{left:382.599426px;}
.x21{left:383.762756px;}
.x32{left:395.563747px;}
.x1a{left:417.983093px;}
.x1b{left:419.300354px;}
.x1c{left:429.983337px;}
.x23{left:444.027008px;}
.x33{left:451.027557px;}
.x30{left:467.567963px;}
.x3a{left:468.736267px;}
.x26{left:477.524353px;}
.x28{left:479.200806px;}
.x27{left:488.649352px;}
.x29{left:490.325805px;}
.x1d{left:499.020935px;}
.x37{left:523.981750px;}
.x38{left:533.840637px;}
.x1e{left:538.873108px;}
.x35{left:542.710693px;}
.x34{left:547.618591px;}
.x1f{left:550.122009px;}
.x36{left:582.710690px;}
.x39{left:593.350464px;}
.x3c{left:604.415588px;}
.x3b{left:609.848328px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-99.275036pt;}
._0{width:6.794315pt;}
._1{width:8.617013pt;}
._2{width:11.569021pt;}
._3{width:64.262724pt;}
.fs1{font-size:42.240000pt;}
.fs3{font-size:58.666667pt;}
.fs0{font-size:64.000000pt;}
.fs2{font-size:72.000000pt;}
.fs4{font-size:106.666667pt;}
.y0{bottom:0.000000pt;}
.y5{bottom:69.914288pt;}
.y34{bottom:117.473137pt;}
.y35{bottom:122.273137pt;}
.y30{bottom:190.686028pt;}
.y2d{bottom:195.093498pt;}
.y31{bottom:195.486028pt;}
.y32{bottom:199.787992pt;}
.y2e{bottom:199.893499pt;}
.y33{bottom:202.950101pt;}
.y27{bottom:226.446355pt;}
.y25{bottom:227.495183pt;}
.y26{bottom:245.646355pt;}
.y24{bottom:246.695183pt;}
.y14{bottom:253.713331pt;}
.y15{bottom:258.513331pt;}
.y2f{bottom:275.870308pt;}
.y2c{bottom:277.329659pt;}
.y12{bottom:302.428818pt;}
.y10{bottom:306.400904pt;}
.y3{bottom:313.391024pt;}
.y4{bottom:318.191025pt;}
.y11{bottom:321.628817pt;}
.y38{bottom:323.412875pt;}
.yf{bottom:325.600904pt;}
.y2a{bottom:327.786288pt;}
.y39{bottom:328.212875pt;}
.y2b{bottom:332.586288pt;}
.y22{bottom:350.887764pt;}
.y23{bottom:351.693835pt;}
.ye{bottom:356.923653pt;}
.y37{bottom:379.793688pt;}
.y3a{bottom:379.913684pt;}
.y18{bottom:385.580554pt;}
.yc{bottom:387.707588pt;}
.yd{bottom:389.607531pt;}
.y36{bottom:392.968987pt;}
.y21{bottom:396.898735pt;}
.y28{bottom:398.898735pt;}
.y29{bottom:403.698736pt;}
.y13{bottom:423.790499pt;}
.y20{bottom:452.879443pt;}
.y1e{bottom:452.959867pt;}
.y1f{bottom:452.993477pt;}
.y1d{bottom:453.603238pt;}
.y1c{bottom:453.653308pt;}
.ya{bottom:456.943713pt;}
.yb{bottom:457.829699pt;}
.y8{bottom:464.910327pt;}
.y7{bottom:465.876717pt;}
.y1a{bottom:467.835477pt;}
.y6{bottom:468.393461pt;}
.y19{bottom:468.801867pt;}
.y1b{bottom:469.590624pt;}
.y9{bottom:469.915881pt;}
.y3d{bottom:483.853076pt;}
.y3b{bottom:483.933500pt;}
.y3c{bottom:483.967110pt;}
.y2{bottom:520.547165pt;}
.y42{bottom:526.288480pt;}
.y40{bottom:527.521756pt;}
.y3f{bottom:527.571846pt;}
.y41{bottom:539.707598pt;}
.y1{bottom:539.747164pt;}
.y3e{bottom:540.509173pt;}
.y17{bottom:640.114235pt;}
.y16{bottom:672.114235pt;}
.h2{height:29.370000pt;}
.h4{height:40.791667pt;}
.h1{height:44.500000pt;}
.h3{height:49.218750pt;}
.h5{height:77.656250pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x2a{left:19.646090pt;}
.xe{left:29.246089pt;}
.x2b{left:36.549077pt;}
.x10{left:66.281265pt;}
.x2c{left:86.970947pt;}
.xb{left:88.760946pt;}
.xd{left:132.639262pt;}
.x13{left:146.289591pt;}
.x11{left:160.451650pt;}
.x6{left:170.750244pt;}
.x12{left:175.284982pt;}
.x4{left:201.267822pt;}
.x7{left:203.410177pt;}
.xc{left:208.557699pt;}
.xf{left:220.055542pt;}
.x2e{left:224.491028pt;}
.x2d{left:260.737223pt;}
.x2f{left:274.246231pt;}
.x24{left:287.456156pt;}
.x5{left:292.691243pt;}
.x25{left:302.289488pt;}
.x16{left:333.242495pt;}
.x17{left:337.075830pt;}
.x14{left:341.456217pt;}
.x15{left:356.717163pt;}
.x2{left:364.360555pt;}
.x8{left:386.816488pt;}
.x9{left:409.950765pt;}
.xa{left:418.949300pt;}
.x3{left:444.527217pt;}
.x22{left:464.604533pt;}
.x18{left:469.017131pt;}
.x20{left:476.872965pt;}
.x19{left:500.677083pt;}
.x31{left:504.437500pt;}
.x1{left:510.132568pt;}
.x21{left:511.683675pt;}
.x32{left:527.418330pt;}
.x1a{left:557.310791pt;}
.x1b{left:559.067139pt;}
.x1c{left:573.311117pt;}
.x23{left:592.036011pt;}
.x33{left:601.370076pt;}
.x30{left:623.423950pt;}
.x3a{left:624.981689pt;}
.x26{left:636.699137pt;}
.x28{left:638.934408pt;}
.x27{left:651.532469pt;}
.x29{left:653.767740pt;}
.x1d{left:665.361247pt;}
.x37{left:698.642334pt;}
.x38{left:711.787516pt;}
.x1e{left:718.497477pt;}
.x35{left:723.614258pt;}
.x34{left:730.158122pt;}
.x1f{left:733.496012pt;}
.x36{left:776.947586pt;}
.x39{left:791.133952pt;}
.x3c{left:805.887451pt;}
.x3b{left:813.131104pt;}
}
.credit-note {
 position: absolute;
 width: 10%;
 left: 10%;
 text-align: center;
 font-size: 240%;
 bottom: 0;
 padding-bottom: 10%;
 }