.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.677734;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.172176,-0.181260,0.181260,0.172176,0,0);-ms-transform:matrix(0.172176,-0.181260,0.181260,0.172176,0,0);-webkit-transform:matrix(0.172176,-0.181260,0.181260,0.172176,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m2{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:3.500061px;}
.fc2{color:rgb(192,0,0);}
.fc1{color:rgb(68,84,106);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:40.000000px;}
.fs1{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs0{font-size:80.000000px;}
.y0{bottom:0.000000px;}
.y3{bottom:79.189167px;}
.y4{bottom:357.575532px;}
.y5{bottom:357.919427px;}
.y2{bottom:455.216736px;}
.y1{bottom:479.216738px;}
.h2{height:34.945312px;}
.h3{height:37.324219px;}
.h1{height:58.242188px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x1{left:50.589203px;}
.x3{left:135.388916px;}
.x2{left:325.846985px;}
.x5{left:515.943856px;}
.x4{left:560.224270px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:4.666748pt;}
.fs2{font-size:53.333333pt;}
.fs1{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs0{font-size:106.666667pt;}
.y0{bottom:0.000000pt;}
.y3{bottom:105.585556pt;}
.y4{bottom:476.767375pt;}
.y5{bottom:477.225902pt;}
.y2{bottom:606.955648pt;}
.y1{bottom:638.955650pt;}
.h2{height:46.593750pt;}
.h3{height:49.765625pt;}
.h1{height:77.656250pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x1{left:67.452271pt;}
.x3{left:180.518555pt;}
.x2{left:434.462646pt;}
.x5{left:687.925141pt;}
.x4{left:746.965693pt;}
}
