.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.872559;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:3.500061px;}
.fc2{color:rgb(192,0,0);}
.fc1{color:rgb(68,84,106);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:40.000000px;}
.fs3{font-size:44.000000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:80.000000px;}
.y0{bottom:0.000000px;}
.y2{bottom:72.827839px;}
.yc{bottom:118.296207px;}
.yb{bottom:131.496206px;}
.ya{bottom:151.321171px;}
.y9{bottom:164.521170px;}
.y8{bottom:205.045187px;}
.ye{bottom:206.657064px;}
.yd{bottom:249.233847px;}
.y7{bottom:267.021811px;}
.y5{bottom:289.704153px;}
.y4{bottom:329.633368px;}
.y6{bottom:332.521872px;}
.y3{bottom:382.869284px;}
.y1{bottom:472.327291px;}
.h3{height:30.593750px;}
.h2{height:34.945312px;}
.h1{height:58.242188px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x7{left:148.871773px;}
.x2{left:151.834229px;}
.x9{left:163.004902px;}
.x5{left:170.290331px;}
.x8{left:171.546473px;}
.x4{left:174.309866px;}
.x1{left:179.283829px;}
.x6{left:526.928406px;}
.x3{left:541.474184px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:4.666748pt;}
.fs2{font-size:53.333333pt;}
.fs3{font-size:58.666667pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:106.666667pt;}
.y0{bottom:0.000000pt;}
.y2{bottom:97.103785pt;}
.yc{bottom:157.728277pt;}
.yb{bottom:175.328275pt;}
.ya{bottom:201.761561pt;}
.y9{bottom:219.361560pt;}
.y8{bottom:273.393583pt;}
.ye{bottom:275.542753pt;}
.yd{bottom:332.311796pt;}
.y7{bottom:356.029081pt;}
.y5{bottom:386.272204pt;}
.y4{bottom:439.511157pt;}
.y6{bottom:443.362495pt;}
.y3{bottom:510.492378pt;}
.y1{bottom:629.769722pt;}
.h3{height:40.791667pt;}
.h2{height:46.593750pt;}
.h1{height:77.656250pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x7{left:198.495697pt;}
.x2{left:202.445638pt;}
.x9{left:217.339869pt;}
.x5{left:227.053775pt;}
.x8{left:228.728630pt;}
.x4{left:232.413155pt;}
.x1{left:239.045105pt;}
.x6{left:702.571208pt;}
.x3{left:721.965579pt;}
}
.credit-note {
 position: absolute;
 width: 10%;
 left: 7%;
 text-align: center;
 font-size: 240%;
 bottom: 0;
 padding-bottom: 10%;
 }