.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.926270;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.809082;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.861328;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-146.936372px;}
._4{width:2.671836px;}
._0{width:3.688061px;}
._1{width:79.768491px;}
._3{width:98.894421px;}
.fc2{color:rgb(192,0,0);}
.fc3{color:rgb(0,32,96);}
.fc1{color:rgb(68,84,106);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:40.000000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:80.000000px;}
.y0{bottom:0.000000px;}
.y2{bottom:48.560444px;}
.y19{bottom:76.586442px;}
.y1a{bottom:86.228044px;}
.y18{bottom:86.245042px;}
.y1e{bottom:118.019059px;}
.y1b{bottom:118.287705px;}
.y17{bottom:151.976365px;}
.y1c{bottom:159.164872px;}
.y15{bottom:168.445909px;}
.y14{bottom:190.386216px;}
.y16{bottom:199.494187px;}
.y1d{bottom:205.602281px;}
.y20{bottom:229.185288px;}
.y13{bottom:240.789048px;}
.y23{bottom:245.727494px;}
.y2d{bottom:255.102433px;}
.y1f{bottom:272.488511px;}
.y12{bottom:294.777711px;}
.y30{bottom:294.864091px;}
.y2f{bottom:298.301255px;}
.y2e{bottom:300.836305px;}
.y11{bottom:304.359849px;}
.y21{bottom:326.511186px;}
.yc{bottom:338.093461px;}
.y24{bottom:340.780244px;}
.y22{bottom:344.121964px;}
.ye{bottom:344.649217px;}
.yd{bottom:349.404649px;}
.y2c{bottom:352.824800px;}
.yf{bottom:383.127244px;}
.y10{bottom:383.244416px;}
.y2b{bottom:386.458817px;}
.y8{bottom:388.874253px;}
.y25{bottom:392.909364px;}
.y9{bottom:395.244325px;}
.ya{bottom:395.244416px;}
.y7{bottom:398.946931px;}
.y2a{bottom:406.631417px;}
.y6{bottom:418.002519px;}
.yb{bottom:418.590394px;}
.y29{bottom:422.715280px;}
.y5{bottom:430.438897px;}
.y4{bottom:430.707559px;}
.y28{bottom:432.160790px;}
.y27{bottom:432.429452px;}
.y3{bottom:443.097085px;}
.y26{bottom:444.818978px;}
.y1{bottom:498.064812px;}
.h3{height:26.660156px;}
.h4{height:27.714844px;}
.h2{height:34.945312px;}
.h1{height:57.265625px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x9{left:247.220779px;}
.x2{left:274.724243px;}
.x10{left:302.787262px;}
.xe{left:330.303375px;}
.x1{left:333.745880px;}
.xf{left:351.804382px;}
.x3{left:355.640320px;}
.x4{left:376.255035px;}
.x13{left:380.541351px;}
.xd{left:383.318268px;}
.x6{left:395.355988px;}
.x5{left:398.042053px;}
.x11{left:404.118103px;}
.xa{left:414.170868px;}
.x15{left:421.370880px;}
.x7{left:424.584656px;}
.x23{left:429.664795px;}
.x14{left:431.783630px;}
.x12{left:458.290009px;}
.x22{left:459.350555px;}
.xb{left:480.000000px;}
.x1c{left:494.403229px;}
.x24{left:502.220428px;}
.x21{left:507.953522px;}
.x8{left:510.046204px;}
.x16{left:511.060211px;}
.x1f{left:514.101807px;}
.xc{left:518.999512px;}
.x18{left:563.951660px;}
.x17{left:565.507996px;}
.x1e{left:578.807983px;}
.x1d{left:579.937805px;}
.x20{left:594.326965px;}
.x1a{left:620.134827px;}
.x19{left:650.313843px;}
.x1b{left:681.298950px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-195.915163pt;}
._4{width:3.562448pt;}
._0{width:4.917415pt;}
._1{width:106.357988pt;}
._3{width:131.859229pt;}
.fs2{font-size:53.333333pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:106.666667pt;}
.y0{bottom:0.000000pt;}
.y2{bottom:64.747259pt;}
.y19{bottom:102.115256pt;}
.y1a{bottom:114.970725pt;}
.y18{bottom:114.993389pt;}
.y1e{bottom:157.358746pt;}
.y1b{bottom:157.716941pt;}
.y17{bottom:202.635153pt;}
.y1c{bottom:212.219830pt;}
.y15{bottom:224.594545pt;}
.y14{bottom:253.848288pt;}
.y16{bottom:265.992250pt;}
.y1d{bottom:274.136374pt;}
.y20{bottom:305.580385pt;}
.y13{bottom:321.052064pt;}
.y23{bottom:327.636659pt;}
.y2d{bottom:340.136578pt;}
.y1f{bottom:363.318015pt;}
.y12{bottom:393.036948pt;}
.y30{bottom:393.152121pt;}
.y2f{bottom:397.735007pt;}
.y2e{bottom:401.115073pt;}
.y11{bottom:405.813132pt;}
.y21{bottom:435.348248pt;}
.yc{bottom:450.791281pt;}
.y24{bottom:454.373658pt;}
.y22{bottom:458.829286pt;}
.ye{bottom:459.532289pt;}
.yd{bottom:465.872865pt;}
.y2c{bottom:470.433066pt;}
.yf{bottom:510.836325pt;}
.y10{bottom:510.992555pt;}
.y2b{bottom:515.278423pt;}
.y8{bottom:518.499004pt;}
.y25{bottom:523.879152pt;}
.y9{bottom:526.992433pt;}
.ya{bottom:526.992555pt;}
.y7{bottom:531.929241pt;}
.y2a{bottom:542.175223pt;}
.y6{bottom:557.336692pt;}
.yb{bottom:558.120525pt;}
.y29{bottom:563.620373pt;}
.y5{bottom:573.918530pt;}
.y4{bottom:574.276745pt;}
.y28{bottom:576.214387pt;}
.y27{bottom:576.572603pt;}
.y3{bottom:590.796113pt;}
.y26{bottom:593.091971pt;}
.y1{bottom:664.086416pt;}
.h3{height:35.546875pt;}
.h4{height:36.953125pt;}
.h2{height:46.593750pt;}
.h1{height:76.354167pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x9{left:329.627706pt;}
.x2{left:366.298991pt;}
.x10{left:403.716349pt;}
.xe{left:440.404500pt;}
.x1{left:444.994507pt;}
.xf{left:469.072510pt;}
.x3{left:474.187093pt;}
.x4{left:501.673381pt;}
.x13{left:507.388468pt;}
.xd{left:511.091024pt;}
.x6{left:527.141317pt;}
.x5{left:530.722738pt;}
.x11{left:538.824137pt;}
.xa{left:552.227824pt;}
.x15{left:561.827840pt;}
.x7{left:566.112874pt;}
.x23{left:572.886393pt;}
.x14{left:575.711507pt;}
.x12{left:611.053345pt;}
.x22{left:612.467407pt;}
.xb{left:640.000000pt;}
.x1c{left:659.204305pt;}
.x24{left:669.627238pt;}
.x21{left:677.271362pt;}
.x8{left:680.061605pt;}
.x16{left:681.413615pt;}
.x1f{left:685.469076pt;}
.xc{left:691.999349pt;}
.x18{left:751.935547pt;}
.x17{left:754.010661pt;}
.x1e{left:771.743978pt;}
.x1d{left:773.250407pt;}
.x20{left:792.435954pt;}
.x1a{left:826.846436pt;}
.x19{left:867.085124pt;}
.x1b{left:908.398600pt;}
}
.credit-note {
 position: absolute;
 width: 10%;
 left: 10%;
 text-align: center;
 font-size: 240%;
 bottom: 0;
 padding-bottom: 10%;
 }
