.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.809082;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:2.693146px;}
._2{width:5.428000px;}
._0{width:463.837768px;}
.fc1{color:rgb(192,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:44.000000px;}
.fs0{font-size:80.000000px;}
.y0{bottom:0.000000px;}
.y4{bottom:96.378256px;}
.y3{bottom:97.591385px;}
.y1{bottom:173.857986px;}
.y2{bottom:189.746450px;}
.yd{bottom:275.916052px;}
.y11{bottom:306.035254px;}
.y10{bottom:319.910696px;}
.yf{bottom:353.366522px;}
.yb{bottom:358.970922px;}
.y13{bottom:359.529119px;}
.ye{bottom:360.913290px;}
.ya{bottom:371.209112px;}
.y12{bottom:373.404547px;}
.yc{bottom:394.082891px;}
.y9{bottom:430.175894px;}
.y8{bottom:430.215261px;}
.y7{bottom:432.150381px;}
.y5{bottom:463.261070px;}
.y6{bottom:505.044689px;}
.h2{height:29.326172px;}
.h1{height:58.242188px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x5{left:56.661041px;}
.x1{left:62.421898px;}
.x3{left:66.390656px;}
.x7{left:203.441818px;}
.x6{left:229.437515px;}
.xd{left:285.984711px;}
.xf{left:301.615448px;}
.x4{left:320.343689px;}
.x11{left:358.727325px;}
.x10{left:382.009918px;}
.x2{left:384.656311px;}
.x8{left:388.061188px;}
.xb{left:453.711975px;}
.xa{left:455.978271px;}
.x9{left:550.179932px;}
.xe{left:566.593445px;}
.xc{left:601.063843px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:3.590862pt;}
._2{width:7.237333pt;}
._0{width:618.450357pt;}
.fs1{font-size:58.666667pt;}
.fs0{font-size:106.666667pt;}
.y0{bottom:0.000000pt;}
.y4{bottom:128.504341pt;}
.y3{bottom:130.121847pt;}
.y1{bottom:231.810649pt;}
.y2{bottom:252.995267pt;}
.yd{bottom:367.888069pt;}
.y11{bottom:408.047005pt;}
.y10{bottom:426.547595pt;}
.yf{bottom:471.155362pt;}
.yb{bottom:478.627897pt;}
.y13{bottom:479.372159pt;}
.ye{bottom:481.217720pt;}
.ya{bottom:494.945483pt;}
.y12{bottom:497.872729pt;}
.yc{bottom:525.443855pt;}
.y9{bottom:573.567858pt;}
.y8{bottom:573.620349pt;}
.y7{bottom:576.200508pt;}
.y5{bottom:617.681427pt;}
.y6{bottom:673.392919pt;}
.h2{height:39.101562pt;}
.h1{height:77.656250pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x5{left:75.548055pt;}
.x1{left:83.229197pt;}
.x3{left:88.520874pt;}
.x7{left:271.255758pt;}
.x6{left:305.916687pt;}
.xd{left:381.312948pt;}
.xf{left:402.153931pt;}
.x4{left:427.124919pt;}
.x11{left:478.303101pt;}
.x10{left:509.346558pt;}
.x2{left:512.875081pt;}
.x8{left:517.414917pt;}
.xb{left:604.949300pt;}
.xa{left:607.971029pt;}
.x9{left:733.573242pt;}
.xe{left:755.457926pt;}
.xc{left:801.418457pt;}
}
.credit-note {
 position: absolute;
 width: 10%;
 left: 10%;
 text-align: center;
 font-size: 240%;
 bottom: 0;
 padding-bottom: 10%;
 }