.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.809082;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:3.688061px;}
.fc2{color:rgb(192,0,0);}
.fc1{color:rgb(68,84,106);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:36.000000px;}
.fs2{font-size:40.000000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:80.000000px;}
.y0{bottom:0.000000px;}
.y2{bottom:21.608845px;}
.y23{bottom:121.834667px;}
.y22{bottom:128.381908px;}
.y25{bottom:130.892132px;}
.y21{bottom:136.344830px;}
.y24{bottom:138.144360px;}
.y1e{bottom:159.941753px;}
.y1f{bottom:203.863415px;}
.ye{bottom:216.220409px;}
.y15{bottom:224.554974px;}
.yf{bottom:253.958996px;}
.y13{bottom:261.987103px;}
.y14{bottom:262.334820px;}
.y20{bottom:288.670177px;}
.y19{bottom:310.232845px;}
.y1a{bottom:310.232937px;}
.y1c{bottom:310.935757px;}
.y1d{bottom:310.935848px;}
.y18{bottom:318.163082px;}
.y1b{bottom:318.865993px;}
.y11{bottom:341.477108px;}
.y12{bottom:341.477184px;}
.y16{bottom:349.107418px;}
.y17{bottom:349.107494px;}
.y10{bottom:349.407345px;}
.yd{bottom:390.976788px;}
.y9{bottom:433.671986px;}
.ya{bottom:433.672062px;}
.y4{bottom:435.036709px;}
.y5{bottom:435.036785px;}
.y3{bottom:438.674267px;}
.y8{bottom:440.824268px;}
.y6{bottom:451.394817px;}
.y7{bottom:451.394901px;}
.yb{bottom:458.670017px;}
.yc{bottom:458.670094px;}
.y1{bottom:501.458868px;}
.h3{height:23.994141px;}
.h2{height:34.945312px;}
.h1{height:58.242188px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x2{left:154.701416px;}
.x1{left:160.062485px;}
.x3{left:279.493164px;}
.xe{left:298.893951px;}
.x4{left:313.698822px;}
.x6{left:326.303864px;}
.x1a{left:332.946838px;}
.x15{left:339.240082px;}
.x1b{left:351.891663px;}
.x5{left:354.701263px;}
.x7{left:359.479065px;}
.x16{left:371.231415px;}
.x17{left:383.472748px;}
.x18{left:387.411652px;}
.x8{left:390.744263px;}
.x1c{left:391.923401px;}
.x13{left:392.953064px;}
.x9{left:397.012115px;}
.x19{left:398.182281px;}
.x1e{left:402.978729px;}
.xa{left:404.870789px;}
.xf{left:428.974091px;}
.x10{left:430.853943px;}
.xb{left:436.956238px;}
.x11{left:438.423065px;}
.xd{left:444.068512px;}
.x12{left:449.193695px;}
.x1f{left:454.039917px;}
.xc{left:465.530151px;}
.x1d{left:475.259857px;}
.x14{left:480.116608px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:4.917415pt;}
.fs3{font-size:48.000000pt;}
.fs2{font-size:53.333333pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:106.666667pt;}
.y0{bottom:0.000000pt;}
.y2{bottom:28.811793pt;}
.y23{bottom:162.446223pt;}
.y22{bottom:171.175878pt;}
.y25{bottom:174.522842pt;}
.y21{bottom:181.793106pt;}
.y24{bottom:184.192479pt;}
.y1e{bottom:213.255671pt;}
.y1f{bottom:271.817886pt;}
.ye{bottom:288.293879pt;}
.y15{bottom:299.406631pt;}
.yf{bottom:338.611994pt;}
.y13{bottom:349.316137pt;}
.y14{bottom:349.779760pt;}
.y20{bottom:384.893570pt;}
.y19{bottom:413.643794pt;}
.y1a{bottom:413.643916pt;}
.y1c{bottom:414.581009pt;}
.y1d{bottom:414.581131pt;}
.y18{bottom:424.217443pt;}
.y1b{bottom:425.154658pt;}
.y11{bottom:455.302811pt;}
.y12{bottom:455.302912pt;}
.y16{bottom:465.476557pt;}
.y17{bottom:465.476659pt;}
.y10{bottom:465.876460pt;}
.yd{bottom:521.302383pt;}
.y9{bottom:578.229314pt;}
.ya{bottom:578.229416pt;}
.y4{bottom:580.048945pt;}
.y5{bottom:580.049047pt;}
.y3{bottom:584.899022pt;}
.y8{bottom:587.765691pt;}
.y6{bottom:601.859756pt;}
.y7{bottom:601.859868pt;}
.yb{bottom:611.560023pt;}
.yc{bottom:611.560125pt;}
.y1{bottom:668.611824pt;}
.h3{height:31.992188pt;}
.h2{height:46.593750pt;}
.h1{height:77.656250pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x2{left:206.268555pt;}
.x1{left:213.416646pt;}
.x3{left:372.657552pt;}
.xe{left:398.525269pt;}
.x4{left:418.265096pt;}
.x6{left:435.071818pt;}
.x1a{left:443.929118pt;}
.x15{left:452.320109pt;}
.x1b{left:469.188883pt;}
.x5{left:472.935018pt;}
.x7{left:479.305420pt;}
.x16{left:494.975220pt;}
.x17{left:511.296997pt;}
.x18{left:516.548869pt;}
.x8{left:520.992350pt;}
.x1c{left:522.564535pt;}
.x13{left:523.937419pt;}
.x9{left:529.349487pt;}
.x19{left:530.909709pt;}
.x1e{left:537.304972pt;}
.xa{left:539.827718pt;}
.xf{left:571.965454pt;}
.x10{left:574.471924pt;}
.xb{left:582.608317pt;}
.x11{left:584.564087pt;}
.xd{left:592.091349pt;}
.x12{left:598.924927pt;}
.x1f{left:605.386556pt;}
.xc{left:620.706868pt;}
.x1d{left:633.679810pt;}
.x14{left:640.155477pt;}
}
