.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.903320;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._6{margin-left:-727.160680px;}
._8{margin-left:-644.713833px;}
._5{margin-left:-494.976106px;}
._4{margin-left:-410.862736px;}
._3{width:115.098999px;}
._2{width:166.562605px;}
._7{width:228.429840px;}
._1{width:230.568726px;}
._0{width:261.132492px;}
.fc1{color:rgb(192,0,0);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:36.000000px;}
.fs2{font-size:44.000000px;}
.fs0{font-size:80.000000px;}
.y0{bottom:0.000000px;}
.y2{bottom:187.202770px;}
.y3{bottom:196.757977px;}
.y7{bottom:199.688894px;}
.y4{bottom:260.926311px;}
.y5{bottom:260.926403px;}
.y6{bottom:270.009228px;}
.y8{bottom:275.674780px;}
.yd{bottom:327.670574px;}
.ye{bottom:336.697414px;}
.y10{bottom:362.939541px;}
.yf{bottom:372.746716px;}
.yb{bottom:398.828915px;}
.yc{bottom:398.986874px;}
.ya{bottom:399.266949px;}
.y9{bottom:407.737547px;}
.y1{bottom:505.044689px;}
.h2{height:26.138672px;}
.h3{height:31.947266px;}
.h1{height:58.242188px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.xb{left:118.796936px;}
.xc{left:123.522514px;}
.xd{left:126.570786px;}
.x12{left:135.301498px;}
.x2{left:182.245987px;}
.x11{left:194.507324px;}
.x1{left:205.562531px;}
.xa{left:270.475677px;}
.xe{left:285.097321px;}
.x9{left:345.107544px;}
.xf{left:398.862610px;}
.x8{left:414.743774px;}
.x7{left:416.480621px;}
.x4{left:418.881805px;}
.x3{left:421.148102px;}
.x6{left:473.734406px;}
.x14{left:509.951172px;}
.x10{left:513.675598px;}
.x5{left:516.298889px;}
.x13{left:580.350891px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._6{margin-left:-969.547573pt;}
._8{margin-left:-859.618444pt;}
._5{margin-left:-659.968142pt;}
._4{margin-left:-547.816982pt;}
._3{width:153.465332pt;}
._2{width:222.083474pt;}
._7{width:304.573120pt;}
._1{width:307.424967pt;}
._0{width:348.176656pt;}
.fs1{font-size:48.000000pt;}
.fs2{font-size:58.666667pt;}
.fs0{font-size:106.666667pt;}
.y0{bottom:0.000000pt;}
.y2{bottom:249.603694pt;}
.y3{bottom:262.343969pt;}
.y7{bottom:266.251859pt;}
.y4{bottom:347.901749pt;}
.y5{bottom:347.901871pt;}
.y6{bottom:360.012304pt;}
.y8{bottom:367.566373pt;}
.yd{bottom:436.894099pt;}
.ye{bottom:448.929886pt;}
.y10{bottom:483.919388pt;}
.yf{bottom:496.995621pt;}
.yb{bottom:531.771886pt;}
.yc{bottom:531.982498pt;}
.ya{bottom:532.355932pt;}
.y9{bottom:543.650063pt;}
.y1{bottom:673.392919pt;}
.h2{height:34.851562pt;}
.h3{height:42.596354pt;}
.h1{height:77.656250pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.xb{left:158.395915pt;}
.xc{left:164.696686pt;}
.xd{left:168.761047pt;}
.x12{left:180.401998pt;}
.x2{left:242.994649pt;}
.x11{left:259.343099pt;}
.x1{left:274.083374pt;}
.xa{left:360.634237pt;}
.xe{left:380.129761pt;}
.x9{left:460.143392pt;}
.xf{left:531.816813pt;}
.x8{left:552.991699pt;}
.x7{left:555.307495pt;}
.x4{left:558.509074pt;}
.x3{left:561.530802pt;}
.x6{left:631.645874pt;}
.x14{left:679.934896pt;}
.x10{left:684.900798pt;}
.x5{left:688.398519pt;}
.x13{left:773.801188pt;}
}
.credit-note {
 position: absolute;
 width: 10%;
 left: 10%;
 text-align: center;
 font-size: 240%;
 bottom: 0;
 padding-bottom: 10%;
 }