.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.809082;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.854980;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-1184.017601px;}
._3{margin-left:-10.797930px;}
._2{margin-left:-3.193384px;}
._0{width:3.500061px;}
._5{width:151.953365px;}
._1{width:168.061004px;}
.fc3{color:rgb(38,38,38);}
.fc2{color:rgb(192,0,0);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(68,84,106);}
.fs1{font-size:40.000000px;}
.fs0{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs4{font-size:70.000000px;}
.fs2{font-size:80.000000px;}
.y0{bottom:0.000000px;}
.y1{bottom:36.390217px;}
.y10{bottom:125.080569px;}
.y12{bottom:134.254428px;}
.y11{bottom:147.076632px;}
.y13{bottom:150.575931px;}
.yf{bottom:205.486789px;}
.ye{bottom:224.598514px;}
.y8{bottom:236.636172px;}
.y9{bottom:251.784884px;}
.ya{bottom:267.995944px;}
.yd{bottom:282.478290px;}
.yc{bottom:282.544482px;}
.yb{bottom:282.775149px;}
.y7{bottom:325.118197px;}
.y6{bottom:380.946155px;}
.y4{bottom:444.794978px;}
.y5{bottom:447.685040px;}
.y3{bottom:460.894816px;}
.y2{bottom:496.961624px;}
.h1{height:34.945312px;}
.h3{height:37.324219px;}
.h4{height:50.244141px;}
.h2{height:58.242188px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x9{left:41.354767px;}
.xa{left:100.166094px;}
.x8{left:113.191607px;}
.x1{left:142.444031px;}
.x6{left:149.626308px;}
.xb{left:153.103409px;}
.x7{left:158.910217px;}
.x2{left:182.509430px;}
.x4{left:187.744339px;}
.x5{left:251.756437px;}
.x3{left:256.192383px;}
.xe{left:408.873394px;}
.xd{left:449.621651px;}
.xf{left:542.281042px;}
.x10{left:567.135578px;}
.xc{left:589.995756px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-1578.690135pt;}
._3{margin-left:-14.397241pt;}
._2{margin-left:-4.257846pt;}
._0{width:4.666748pt;}
._5{width:202.604487pt;}
._1{width:224.081339pt;}
.fs1{font-size:53.333333pt;}
.fs0{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs4{font-size:93.333333pt;}
.fs2{font-size:106.666667pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:48.520289pt;}
.y10{bottom:166.774092pt;}
.y12{bottom:179.005904pt;}
.y11{bottom:196.102177pt;}
.y13{bottom:200.767907pt;}
.yf{bottom:273.982385pt;}
.ye{bottom:299.464685pt;}
.y8{bottom:315.514896pt;}
.y9{bottom:335.713179pt;}
.ya{bottom:357.327925pt;}
.yd{bottom:376.637719pt;}
.yc{bottom:376.725976pt;}
.yb{bottom:377.033532pt;}
.y7{bottom:433.490930pt;}
.y6{bottom:507.928206pt;}
.y4{bottom:593.059971pt;}
.y5{bottom:596.913386pt;}
.y3{bottom:614.526422pt;}
.y2{bottom:662.615499pt;}
.h1{height:46.593750pt;}
.h3{height:49.765625pt;}
.h4{height:66.992188pt;}
.h2{height:77.656250pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x9{left:55.139689pt;}
.xa{left:133.554792pt;}
.x8{left:150.922142pt;}
.x1{left:189.925374pt;}
.x6{left:199.501745pt;}
.xb{left:204.137878pt;}
.x7{left:211.880290pt;}
.x2{left:243.345907pt;}
.x4{left:250.325785pt;}
.x5{left:335.675250pt;}
.x3{left:341.589844pt;}
.xe{left:545.164525pt;}
.xd{left:599.495534pt;}
.xf{left:723.041389pt;}
.x10{left:756.180771pt;}
.xc{left:786.661008pt;}
}
.credit-note {
 position: absolute;
 width: 10%;
 left: 10%;
 text-align: center;
 font-size: 240%;
 bottom: 0;
 padding-bottom: 10%;
 }